@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  font-family: var(--font-family-base);
  font-size: 18px;
  line-height: 21px;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
<<<<<<< Updated upstream
body {
  font-family: var(--font-family-base);
  font-size: 18px;
  line-height: 21px;
}

=======
/* TODO: импорт шрифтов вынести в отдельный файл, чтобы не захломлять файл слитей */
/* TODO: переменные тоже лучше в отдельный файл вынести и учитывая, что мы используем scss, то будем использвать scss-переменные */
>>>>>>> Stashed changes
a {
  color: var(--color-black);
  text-decoration: none;
}

a,
button {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  cursor: pointer;
}

.page-header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
}
.page-header-top .header-separation {
  border-left: 1px solid var(--color-light-gray);
  height: 90px;
  margin: 0;
}
.page-header-top .header-logo {
  text-decoration: none;
  color: var(--color-black);
  margin-inline: 35px;
}
.page-header-top .header-phone-link {
  font-size: 16px;
  text-decoration: none;
  color: var(--color-black);
  margin-inline: 27px;
  white-space: nowrap;
}
.page-header-top .header-phone-link:hover {
  color: var(--color-dark-blue);
}
.page-header-top .header-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: 25px;
}
.page-header-top .header-dropdown .header-dropdown-button {
  font-size: 16px;
  background-color: var(--color-white);
  border: none;
  margin: 0;
  width: 145px;
  -moz-text-align-last: left;
       text-align-last: left;
  position: relative;
}
.page-header-top .header-dropdown .header-dropdown-button::before {
  content: "";
  padding: 0;
  background-color: var(--color-dark-blue);
  border-radius: 50%;
  width: 20px;
  border: none;
  height: 20px;
  right: 8px;
  bottom: 1px;
  position: absolute;
}
.page-header-top .header-dropdown .header-dropdown-button::after {
  content: "";
  position: absolute;
  border: 4px solid transparent;
  right: 14px;
  border-top: 7px solid var(--color-white);
  top: 9px;
}
.page-header-top .header-dropdown .header-dropdown-content {
  display: none;
}
.page-header-top .header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.page-header-top .header-menu-list li {
  list-style: none;
  margin-inline: 27px;
}

.main-section {
  background-color: var(--color-blue);
}
.main-section .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-section .main-nav .main-nav-button {
  border: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 18px;
  padding: 0;
  margin-right: 58px;
}
.main-section .main-nav .main-nav-button:hover {
  border-bottom: 1px solid var(--color-white);
}
.main-section .main-nav .main-nav-button:last-of-type {
  margin-right: 100px;
}
.main-section .main-nav .main-nav-popup {
  margin-right: 10px;
}
.main-section .main-nav .main-nav-popup .popup-button {
  border: none;
  background-color: var(--color-white);
  padding: 8px 12px;
  font-size: 18px;
  width: 175px;
}
.main-section .main-nav .main-nav-popup .popup-button:hover {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}
.main-section .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-section .banner .banner-headline {
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-section .banner .banner-headline h1 {
  color: var(--color-white);
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 20px;
}
.main-section .banner .banner-headline p {
  font-size: 14px;
  color: var(--color-white);
  line-height: 21px;
  margin-bottom: 40px;
}
.main-section .banner .banner-headline .banner-link {
  width: 163px;
  background-color: var(--color-dark-blue);
  text-transform: uppercase;
  border: none;
  color: var(--color-white);
  padding: 15px 25px;
}
.main-section .banner .banner-headline .banner-link:hover {
  border-radius: 70%;
  font-weight: 700;
}
.main-section .banner .banner-headline .banner-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: end;
  margin-top: 30px;
  border: 1px solid var(--color-white);
  width: 110px;
}
.main-section .banner .banner-headline .banner-arrows .banner-arrow {
  width: 55px;
  height: 35px;
  background-color: var(--color-blue);
  border: none;
}
.main-section .banner .banner-headline .banner-arrows .prev-arrow {
  position: relative;
}
.main-section .banner .banner-headline .banner-arrows .prev-arrow::before {
  content: "";
  position: absolute;
  width: 31px;
  background-image: url(../img/svg/Arrow-1.svg);
  height: 8px;
  bottom: 13px;
  left: 13px;
}
.main-section .banner .banner-headline .banner-arrows .banner-arrow-separation {
  border-right: 1px solid var(--color-white);
  margin: 0;
}
.main-section .banner .banner-headline .banner-arrows .next-arrow {
  position: relative;
}
.main-section .banner .banner-headline .banner-arrows .next-arrow:hover, .main-section .banner .banner-headline .banner-arrows .prev-arrow:hover {
  background-color: var(--color-dark-blue);
}
.main-section .banner .banner-headline .banner-arrows .next-arrow::before {
  content: "";
  position: absolute;
  width: 31px;
  background-image: url(../img/svg/Arrow-2.svg);
  height: 8px;
  bottom: 13px;
  left: 13px;
}
.main-section .main-category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
.main-section .main-category-list .main-category-item {
  height: 80px;
  display: block;
  min-width: 324px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 324px;
      flex-basis: 324px;
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
}
.main-section .main-category-list .main-category-button {
  border: none;
  background-color: var(--color-dark-blue);
  font-size: 21px;
  height: 80px;
  line-height: 31px;
  width: 100%;
  color: var(--color-white);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-section .main-category-list .main-category-item:hover {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.main-section .main-category-list .main-category-button__colorful {
  background-color: var(--color-blue);
  height: 80px;
  min-width: 324px;
}

.main-introduction .introduction-first-line {
  margin: 80px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-introduction .introduction-first-line .introduction-innovation {
  position: relative;
  height: 580px;
  max-width: 526px;
  background-color: var(--color-dark-blue);
}
.main-introduction .introduction-first-line .introduction-innovation .innovation-button {
  position: absolute;
  top: 35px;
  border: none;
  padding: 9px 15px 10px;
  color: var(--color-white);
  line-height: 21px;
  left: 40px;
  font-size: 18px;
  background-color: var(--color-blue);
}
.main-introduction .introduction-first-line .introduction-innovation .innovation-button:hover {
  background-color: var(--color-white);
  color: var(--color-dark-blue);
}
.main-introduction .introduction-first-line .introduction-innovation h3 {
  padding-top: 105px;
  font-size: 30px;
  font-weight: 300;
  line-height: 45px;
  color: var(--color-white);
  margin-left: 40px;
}
.main-introduction .introduction-first-line .introduction-innovation .innovation-more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-introduction .introduction-first-line .introduction-innovation .innovation-more-info .innovation-info-button {
  margin: 25px 20px 45px 40px;
  position: relative;
  width: 50px;
  background-color: var(--color-dark-blue);
  height: 40px;
  border: 1px solid var(--color-white);
}
.main-introduction .introduction-first-line .introduction-innovation .innovation-more-info .innovation-info-button::before {
  content: "";
  position: absolute;
  width: 31px;
  background-image: url(../img/svg/Arrow-2.svg);
  height: 8px;
  top: 15px;
  bottom: 13px;
  left: 10px;
}
.main-introduction .introduction-first-line .introduction-innovation .innovation-more-info .innovation-info-button:hover {
  margin: 25px 20px 45px 40px;
  position: relative;
  width: 50px;
  background-color: var(--color-blue);
  height: 40px;
  border: 1px solid var(--color-white);
}
.main-introduction .introduction-first-line .introduction-innovation .innovation-more-info .innovation-details-link {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.main-introduction .introduction-first-line .introduction-innovation .innovation-more-info .innovation-details-link:hover {
  font-size: 20px;
  border-bottom: 3px solid var(--color-blue);
}
.main-introduction .introduction-first-line .introduction-innovation img {
  width: 100%;
}
.main-introduction .introduction-patent {
  width: 638px;
  position: relative;
}
.main-introduction .introduction-patent .patent-button {
  position: absolute;
  border: none;
  padding: 9px 15px 10px;
  color: white;
  line-height: 21px;
  font-size: 18px;
  background-color: var(--color-blue);
}
.main-introduction .introduction-patent .patent-button:hover {
  background-color: var(--color-dark-blue);
}
.main-introduction .introduction-patent .patent-properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 85px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-introduction .introduction-patent .patent-properties .patent-properties-list {
  position: relative;
}
.main-introduction .introduction-patent .patent-properties .patent-properties-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 116px 15px 0;
  position: absolute;
}
.main-introduction .introduction-patent .patent-properties .patent-properties-list li h2 {
  font-size: 48px;
  color: var(--color-light-gray);
  line-height: 72px;
  font-weight: 500;
}
.main-introduction .introduction-patent .patent-properties .patent-properties-list li p {
  margin: 15px 0 15px 20px;
  font-size: 14px;
  line-height: 21px;
  width: 144px;
  color: var(--color-light-gray);
}
.main-introduction .introduction-patent .patent-properties .patent-properties-list li:last-of-type {
  bottom: 0;
}
.main-introduction .introduction-patent .patent-properties .patent-properties-list li:nth-of-type(3) {
  bottom: 120px;
}
.main-introduction .introduction-patent .patent-properties .patent-properties-list li:nth-of-type(2) {
  bottom: 240px;
}
.main-introduction .introduction-patent .patent-properties .patent-properties-list li:hover {
  margin: 0;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.main-introduction .introduction-patent .patent-properties .patent-properties-list li:nth-of-type(1):hover {
  margin: 0;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.main-introduction .introduction-patent .patent-properties .patent-properties-list li:hover h2 {
  color: var(--color-dark-blue);
}
.main-introduction .introduction-patent .patent-properties .patent-properties-list li:hover p {
  font-size: 18px;
  color: var(--color-black);
  width: 200px;
}
.main-introduction .introduction-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.main-introduction .introduction-news input[type=radio] {
  display: none;
}
.main-introduction .introduction-news input#a:checked ~ .news-plot #a_1 {
  display: block;
}
.main-introduction .introduction-news input#a:checked ~ .news-title label[for=a] {
  background-color: var(--color-dark-blue);
}
.main-introduction .introduction-news input#b:checked ~ .news-plot #b_2 {
  display: block;
}
.main-introduction .introduction-news input#b:checked ~ .news-title label[for=b] {
  background-color: var(--color-dark-blue);
}
.main-introduction .introduction-news input#c:checked ~ .news-plot #c_3 {
  display: block;
}
.main-introduction .introduction-news input#c:checked ~ .news-title label[for=c] {
  background-color: var(--color-dark-blue);
}
.main-introduction .introduction-news .news-button {
  border: none;
  padding: 9px 15px 10px;
  color: white;
  line-height: 21px;
  left: 40px;
  top: 35px;
  font-size: 18px;
  background-color: var(--color-dark-blue);
  position: absolute;
}
.main-introduction .introduction-news .news-button:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
}
.main-introduction .introduction-news .news-title-list {
  width: 526px;
  background-color: var(--color-blue);
  padding-top: 105px;
}
.main-introduction .introduction-news .news-title-list .news-title-list-item {
  height: 139px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-introduction .introduction-news .news-title-list .news-title-list-item label {
  width: 100%;
  height: 100%;
  padding: 40px 40px 0;
  display: block;
  cursor: pointer;
}
.main-introduction .introduction-news .news-title-list .news-title-list-item .news-title-button {
  border: none;
  background-color: transparent;
  color: white;
  text-align: start;
  line-height: 27px;
  padding: 0;
}
.main-introduction .introduction-news .news-plot-content {
  background-color: var(--color-light-blue);
  height: 522px;
  display: none;
}
.main-introduction .introduction-news .news-plot-content h3 {
  padding: 35px 60px 25px;
  line-height: 36px;
  font-size: 24px;
}
.main-introduction .introduction-news .news-plot-content .news-plot-subtitle {
  font-size: 18px;
  padding: 0 60px 20px;
}
.main-introduction .introduction-news .news-plot-content .news-plot-subtitle span {
  color: var(--color-dark-blue);
}
.main-introduction .introduction-news .news-plot-content .news-plot-list {
  padding: 0 60px 78px;
}
.main-introduction .introduction-news .news-plot-content .news-plot-list p {
  font-size: 14px;
  line-height: 21px;
  position: relative;
  margin: 0 0 20px 17px;
  position: relative;
}
.main-introduction .introduction-news .news-plot-content .news-plot-list p:last-of-type {
  margin-bottom: 0;
}
.main-introduction .introduction-news .news-plot-content .news-plot-list p::before {
  content: "";
  position: absolute;
  background-color: var(--color-dark-blue);
  border-radius: 50%;
  height: 6px;
  top: 7px;
  left: -15px;
  width: 6px;
}

.main-offers {
  margin: 180px 0 100px;
}
.main-offers h2 {
  text-align: center;
  color: var(--color-dark-blue);
  font-size: 48px;
  line-height: 72px;
  position: relative;
}
.main-offers h2::before {
  content: "";
  position: absolute;
  background-color: var(--color-light-blue);
  width: 99vw;
  margin-left: calc(50% - 50vw);
  top: -80px;
  left: 0;
  height: 350px;
  z-index: -1;
}
.main-offers .offers {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-offers .offers .offers-name {
  position: relative;
  width: 306px;
}
.main-offers .offers .offers-name .offers-name-button {
  position: absolute;
  border: none;
  padding: 9px 15px 10px;
  color: var(--color-white);
  line-height: 21px;
  font-size: 18px;
  top: 31px;
  left: 30px;
  background-color: var(--color-blue);
}
.main-offers .offers .offers-name .offers-name-button:hover {
  background-color: var(--color-dark-blue);
}
.main-offers .offers .offers-more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-dark-blue);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main-offers .offers .offers-more-info p {
  font-size: 21px;
  line-height: 31px;
  padding: 25px 15px 25px 30px;
  color: var(--color-white);
}
.main-offers .offers .offers-more-info .offers-more-info-button {
  margin: 37px 30px 37px 0;
  position: relative;
  width: 70px;
  background-color: var(--color-dark-blue);
  height: 35px;
  border: 1px solid var(--color-white);
}
.main-offers .offers .offers-more-info .offers-more-info-button::before {
  content: "";
  position: absolute;
  width: 31px;
  background-image: url(../img/svg/Arrow-2.svg);
  height: 8px;
  bottom: 13px;
  left: 8px;
}
.main-offers .offers .offers-more-info .offers-more-info-button:hover {
  background-color: var(--color-blue);
}

footer .footer-separation {
  border-left: 1px solid var(--color-light-gray);
  height: 122px;
  margin: 0;
}
footer .footer-container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
footer .footer-container .footer-top {
  display: inline-grid;
  grid-template-columns: repeat(3, 180px);
  row-gap: 30px;
  -webkit-column-gap: 160px;
     -moz-column-gap: 160px;
          column-gap: 160px;
}
footer .footer-container .footer-top .footer-services-title {
  font-size: 21px;
  line-height: 31px;
  margin-bottom: 18px;
}
footer .footer-container .footer-top li {
  margin-bottom: 12px;
  display: inline-block;
  min-height: 24px;
}
footer .footer-container .footer-top li a {
  font-size: 14px;
  line-height: 21px;
  color: var(--color-black);
}
footer .footer-container .footer-top li a:hover {
<<<<<<< Updated upstream
  color: var(--color-dark-blue);
}
footer .footer-container .footer-top li:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}
=======
  font-size: 16px;
  min-height: 24px;
  color: var(--color-dark-blue);
}
>>>>>>> Stashed changes
footer .footer-container .footer-top li:last-child {
  margin-bottom: 0;
}
footer .footer-container address {
  font-style: normal;
}
footer .footer-container address .footer-info:first-child {
  margin-bottom: 30px;
  height: 55px;
}
footer .footer-container address .footer-address-link {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  padding: 15px 25px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}
footer .footer-container address .footer-address-link:hover {
  background-color: var(--color-blue);
}
footer .footer-container address .footer-phone-link:hover {
  color: var(--color-blue);
  border-bottom: 3mm ridge #4fbfa5;
}
footer .footer-container address .footer-address-name {
  font-size: 21px;
  line-height: 31px;
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--color-black);
}
footer .footer-container address .footer-info {
  margin-bottom: 30px;
  height: 108px;
}
footer .footer-container address .footer-info .footer-info-title {
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 10px;
  color: var(--color-light-gray);
  line-height: 16px;
}
footer .container-footer-bottom {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--color-light-gray);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .container-footer-bottom p {
  font-size: 12px;
  max-width: 300px;
  padding: 20px 0 16px 25px;
}
footer .container-footer-bottom a {
  font-size: 12px;
  text-decoration: underline;
  padding-top: 20px;
  width: 220px;
}
footer .container-footer-bottom a:hover {
  color: var(--color-dark-blue);
  -webkit-text-decoration: underline var(--color-dark-blue);
          text-decoration: underline var(--color-dark-blue);
  padding-top: 20px;
  text-transform: uppercase;
}
footer .container-footer-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container-footer-bottom ul li {
  width: 80px;
  padding: 25px;
}
footer .container-footer-bottom ul li:last-child {
  width: 65px;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("../font/Gilroy-ExtraBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  font-style: light;
  font-weight: 300;
  src: url("../font/Gilroy-Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Gilroy-Medium.woff2") format("woff2");
  font-display: swap;
}
:root {
  --color-blue: #4FBFA5;
  --color-dark-blue: #00868A;
  --color-light-blue: #ace2e450;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-light-gray: #C4C4C4;
  --font-family-base: "Gilroy", sans-serif;
  --border: 1px solid var(--color-white);
  --container-width: 1295px;
  --container-padding-x: 15px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.poorvision-button {
  position: relative;
  text-transform: uppercase;
  width: 270px;
  -moz-text-align-last: right;
       text-align-last: right;
  font-size: 14px;
  line-height: 16px;
  padding: 13px 15px 11px 40px;
  border: none;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  margin-inline: 29px;
  white-space: nowrap;
}

.poorvision-button::before {
  content: "";
  background-image: url(../img/svg/poorvision.svg);
  position: absolute;
  top: 50%;
  left: 15px;
  width: 25px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 18px;
}