.main-introduction {

    .introduction-first-line {
        margin: 80px 0 80px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .introduction-innovation {
            position: relative;
            height: 580px;
            max-width: 526px;
            background-color: var(--color-dark-blue);

            .innovation-button {
                position: absolute;
                top: 35px;
                border: none;
                padding: 9px 15px 10px;
                color: var(--color-white);
                line-height: 21px;
                left: 40px;
                font-size: 18px;
                background-color: var(--color-blue);
            }

            .innovation-button:hover {
                background-color: var(--color-white);
                color: var(--color-dark-blue);
            }

            h3 {
                padding-top: 105px;
                font-size: 30px;
                font-weight: 300;
                line-height: 45px;
                color: var(--color-white);
                margin-left: 40px;
            }

            .innovation-more-info {
                display: flex;
                align-items: center;

                .innovation-info-button {
                    margin: 25px 20px 45px 40px;
                    position: relative;
                    width: 50px;
                    background-color: var(--color-dark-blue);
                    height: 40px;
                    border: 1px solid var(--color-white);
                }

                .innovation-info-button::before {
                    content: "";
                    position: absolute;
                    width: 31px;
                    background-image: url(../img/svg/Arrow-2.svg);
                    height: 8px;
                    top: 15px;
                    bottom: 13px;
                    left: 10px;
                }

                .innovation-info-button:hover {
                    margin: 25px 20px 45px 40px;
                    position: relative;
                    width: 50px;
                    background-color: var(--color-blue);
                    height: 40px;
                    border: 1px solid var(--color-white);
                }

                .innovation-details-link {
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 1px;
                    margin-bottom: 15px;
                    color: var(--color-white);
                    text-transform: uppercase;
                    font-weight: 600;
                    cursor: pointer;
                }

                .innovation-details-link:hover {
                    font-size: 20px;
                    border-bottom: 3px solid var(--color-blue);
                }
            }

            img {
                width: 100%;
            }
        }
    }

    .introduction-patent {
        width: 638px;
        position: relative;

        .patent-button {
            position: absolute;
            border: none;
            padding: 9px 15px 10px;
            color: white;
            line-height: 21px;
            font-size: 18px;
            background-color: var(--color-blue);
        }

        .patent-button:hover {
            background-color: var(--color-dark-blue);
        }

        .patent-properties {
            display: flex;
            padding-top: 85px;
            justify-content: space-between;

            .patent-properties-list {
                position: relative;

                li {
                    display: flex;
                    align-items: center;
                    margin: 0 116px 15px 0;
                    position: absolute;

                    h2 {
                        font-size: 48px;
                        color: var(--color-light-gray);
                        line-height: 72px;
                        font-weight: 500;
                    }

                    p {
                        margin: 15px 0 15px 20px;
                        font-size: 14px;
                        line-height: 21px;
                        width: 144px;
                        color: var(--color-light-gray);
                    }
                }

                li:last-of-type {
                    bottom: 0;
                }

                li:nth-of-type(3) {
                    bottom: 120px;
                }

                li:nth-of-type(2) {
                    bottom: 240px;
                }

                li:hover {
                    margin: 0;
                    transform-origin: bottom left;
                    transform: scale(1.5);
                }

                li:nth-of-type(1):hover {
                    margin: 0;
                    transform-origin: top left;
                    transform: scale(1.5);
                }

                li:hover h2 {
                    color: var(--color-dark-blue);
                }

                li:hover p {
                    font-size: 18px;
                    color: var(--color-black);
                    width: 200px;
                }
            }
        }
    }

    .introduction-news {
        display: flex;
        position: relative;

        input[type=radio] {
            display: none;
        }

        input#a:checked~.news-plot #a_1 {
            display: block;
        }

        input#a:checked~.news-title label[for=a] {
            background-color: var(--color-dark-blue);
        }

        input#b:checked~.news-plot #b_2 {
            display: block;
        }


        input#b:checked~.news-title label[for=b] {
            background-color: var(--color-dark-blue);
        }

        input#c:checked~.news-plot #c_3 {
            display: block;
        }

        input#c:checked~.news-title label[for=c] {
            background-color: var(--color-dark-blue);
        }

        .news-button {
            border: none;
            padding: 9px 15px 10px;
            color: white;
            line-height: 21px;
            left: 40px;
            top: 35px;
            font-size: 18px;
            background-color: var(--color-dark-blue);
            position: absolute;
        }

        .news-button:hover {
            background-color: var(--color-white);
            color: var(--color-blue);
        }

        .news-title-list {
            width: 526px;
            background-color: var(--color-blue);
            padding-top: 105px;

            .news-title-list-item {
                height: 139px;
                display: flex;

                label {
                    width: 100%;
                    height: 100%;
                    padding: 40px 40px 0;
                    display: block;
                    cursor: pointer;
                }

                .news-title-button {
                    border: none;
                    background-color: transparent;
                    color: white;
                    text-align: start;
                    line-height: 27px;
                    padding: 0;
                }
            }
        }

        .news-plot-content {
            background-color: var(--color-light-blue);
            height: 522px;
            display: none;

            h3 {
                padding: 35px 60px 25px;
                line-height: 36px;
                font-size: 24px;
            }

            .news-plot-subtitle {
                font-size: 18px;
                padding: 0 60px 20px;

                span {
                    color: var(--color-dark-blue);
                }
            }

            .news-plot-list {
                padding: 0 60px 78px;
                
                p {
                    font-size: 14px;
                    line-height: 21px;
                    position: relative;
                    margin: 0 0 20px 17px;
                }

                    p:last-of-type {
                        margin-bottom: 0;
                    }

                    p::before {
                        content: "";
                        position: absolute;
                        background-color: var(--color-dark-blue);
                        border-radius: 50%;
                        height: 6px;
                        top: 7px;
                        left: -15px;
                        width: 6px;
                    }
                }
            }
        }
    }